---
import Container from "./container.astro";
import Themeswitch from "./themeswitch.astro";
---

<Container class=" border-t border-gray-100 dark:border-gray-800  ">
  <footer class="flex flex-col items-center ">
    <div class="text-sm text-center">
      Copyright © {new Date().getFullYear()} Tams. All rights reserved.
    </div>
  
    
  </footer>
</Container>
